<div class="moduletable">
  <h3>
    <span class="backh">
      <span class="backh2">
	<span class="backh3">Important Dates</span>
      </span>
    </span>
  </h3>
  
  <div class="custom">
    <p>Technical Papers:
      <ul>
	<li>Submission: <strong>April 25, 2014</strong></li>
	<li>Acceptance: <strong>June 15, 2014</strong></li>
	<li>Camera ready: <strong>June 30, 2014</strong></li>
      </ul>
    </p>
    <p>Workshops Submissions:
      <ul>
	<li>WTD <a href="call-for-WTD.html">Submission</a>: <strong>May 9, 2014</strong></li>
	<li>WUW:<a href="call-for-WUW.html">Submission</a>: <strong>May 25, 2014</strong></li>
	<li>WIP: <strong>June 30, 2014</strong></li>
	<li>WVHAR <a href="call-for-wvhar.html">Submission</a>: <strong>May 9, 2014</strong></li>
	<li>WVIS: <a href="call-for-wvis.html">Submission</a>: <strong>June 30, 2014</strong></li>
      </ul>
    </p>
	
    <p> <a href="tutorials.html">SIBGRAPI 2014 Tutorials</a>
    </p>

    <p>
	<a href="http://www.facebook.com/SIBGRAPI">Sibgrapi on Facebook</a>
    </p>


    <!-- 
    <p>Deadline for submissions:<br>
      <span style="text-decoration: line-through;">
	<strong>June 23, 2013</strong>
      </span>&nbsp;<strong>July 7, 2013</strong></p>
    <p>Acceptance Notification:<br>
      <span style="text-decoration: line-through;">
	<strong>July 28, 2013</strong>
      </span>&nbsp;<strong>August 9, 2013</strong></p>
    <p>Camera-ready papers:<br>
      <strong>August 25, 2013</strong></p>
    <p>Workshop:<br>
      <strong>September 26, 2013</strong></p>
    -->
  </div>
</div>
