---
layout: page
event-title: 4th Workshop on Interactive Data Visualization
event-dates: June 6-7, 2013, FGV/EMAp - Rio de Janeiro, Brazil
---

<div id="content-container">
  <div id="content-container2">
    <div id="content-container3">
      <div id="content">
	<h1>{{ page.title }}</h1>
	
	{{ content }}
      </div>

      <div id="aside">
	<p style="text-align: center;"><img width="200px" src="{{site.baseurl}}images/ufrgs_cor.png"/></p>
	<p style="padding-top: 30px; text-align: center;"><a href="http://emap.fgv.br">
	    <img width="200px" src="{{site.baseurl}}images/EMAP_h_c.jpg"/></a></p>
      </div>
    </div>
  </div>
  <div id="footer-container">
    <div id="footer">Copyright © EMAp, 2012</div>
  </div>
</div>

